
*.meta
*.data-00000-of-00001
*.index
*.MIKKEL_PETERSEN
*.pyc
*.pyc
*.pb
*.LAPTOP-C90H6OBH
*.LAPTOP-C90H6OBH
PythonFlies/dnnTraining/FFN/savedModelsWav/checkpoint
*.pyc
PythonFlies/dnnTraining/FFN/savedModelsWav/my_test_model8.ckpt.index.tempstate10124545794619090630
